extends layout

block content
  h1 Evernote Node.js Crawler JusBrasil Demo
  p
    | Aplicação criada com o  
    a(href='http://expressjs.com/') Express
    |  framework retirado do sample que o Evernote fornece. 
  p
    | Antes de prosseguir informando a URL, crique em autenticar no sandbox do evernote.
  hr
  - if(session.error)
    h2 Error
    p
      = session.error
  h2 Autenticação
  - if(session.oauthAccessToken)
    a(href='/clear') Clique aqui
    |  para
    | recomençar
  - else
    a(href='/oauth') Clique aqui
    |  para
    | conectar com o Evernote

  hr
  - if(session.notebooks)
    h2 Notebooks
    ul
      - for (var i = 0; i < session.notebooks.length; ++i)
        li= session.notebooks[i].name
    hr
  h2 Current status
  ul
    li
      b NoteStore URL:  
      = session.edamNoteStoreUrl
    li
      b Web API URL prefix: 
      = session.edamNoteStoreUrl

  h3 Crie uma nota a partir de uma url do site da Jusbrasil. O conteúdo deverá seguir o mesmo padrão do exemplo : http://www.jusbrasil.com.br/diarios/80288652/dosp-cidade-18-11-2014-pg-3
  form(action='/make',method='post')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='URL') URL
          input(id='URL',type='text',value='',placeholder='http://',name='URL')
    div(data-role='fieldcontain')
      input(type='submit',value='Create a Note',data-transition='fade', data-theme='c')

  p Este código pega o Header principal, conteúdo e páginação ( Anterior e Próxima página), da URL passada ao POST.
  p Com a paginação pode-se pensar em criar uma rotina recursiva para pegar as páginas dentro de uma condição de filtro na JusBrasil. O objetivo seria automatizar este processo.
  p Em cada pagina similar existe um PDF anexado que somente logado poderiamos visualizar. No entanto, notei que o armazenamento é feito na Amazon, utilizando o S3 + CloudFront. Até aqui ok.
  p Analisando o padrão que segue para armazenamento, é possível recriar a URL de cada PDF com informações da própria URL com acesso público no site.
  p Ex da URL pública :  http://www.jusbrasil.com.br/diarios/80288652/dosp-cidade-18-11-2014-pg-3
  p Nesta URL pode-se nota os parametros finais cidade-18-11-2013-pg-3
  p A URL na Amazon para visualizar o PDF diretamente é : 
  p http://diarios.s3.amazonaws.com/DOSP/2014/11/Cidade/pdf/20141118_3.pdf?Signature=TztoYEaINWAyYAqeQkJJT4G2TRc%3D&Expires=1416357092&AWSAccessKeyId=AKIAIPM2XEMZACAXCMBA&response-content-type=application/pdf&x-amz-meta-md5-hash=13badc5852cea6e5aaf21313cdbd1b22
  p Esta URL possui os mesmos parametros porém invertidos ou transformatos. EX : DOSP/2014/11/Cidade/pdf/20141118_3
  p Logo, Signature, AWSAccessKey, é sempre o mesmo, com isso conseguimos pegar este arquivo e anexa-los a cada nota criada no Evernote. Ou mesmo o link.
  
  
